html {
  font-size: 62.5%;
}

.login {
  font-size: 2rem;
  margin: 1rem;
  color: white;
}
a {
  font-size: 1.5rem;
  color: #1c2ffc;
}

#text {
  height: 2.5rems;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: solid thin #aaa;
  width: 100%;
}

#button {
  padding: 1.5rem;
  width: 10rem;
  color: white;
  background-color: rgb(56, 59, 236);
  border: none;
}

#box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  margin: auto;
  width: 30rem;
  padding: 2rem;
}

#msg {
  font-size: 1.5rem;
  color: #ff0000;
}
